@import 'https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined';
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Phudu:wght@700&display=swap');

/*@import 'bootstrap/dist/css/bootstrap-grid.min.css';*/
@import 'react-toastify/dist/ReactToastify.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
@import './assets/styles/buttons.scss';

* {
  font-family: 'Arimo', sans-serif;
}

.font-logo {
  font-family: 'Phudu', cursive;
}
