.btn {
  @apply text-center font-medium cursor-pointer inline-flex justify-center items-center rounded-2xl uppercase transition-all relative;
}

.btn:disabled, button:disabled, a:disabled {
  @apply pointer-events-none grayscale-[50%];
}

.btn-sm {
  @apply py-3 px-8 text-sm;
}

.btn-xs {
  @apply py-2 px-6 text-xs;
}

.btn-xss {
  @apply py-1 px-4 text-xs;
}


.btn-link {
  @apply text-gray hover:border-dark;
}

.btn-link-alternative {
  @apply text-light hover:text-slate;
}

.btn-primary {
  @apply bg-primary hover:brightness-90 text-light border border-primary;
}

.btn-outline-danger {
  @apply border border-danger text-danger hover:border-danger/100;
}

.btn-outline-primary {
  @apply border border-primary text-primary hover:border-primary/100;
}

.btn-outline-slate {
  @apply border border-slate text-gray hover:border-dark;
}